@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*diseño del escritorio*/
*{
    margin: 0;/**/
    padding: 0;/**/
    box-sizing: border-box;/**/
    text-decoration: none;/*elimina las lineas de enlace */
    list-style: none;/*quita las bolitas de la lista*/
}

body{
    font-family: 'inknut-antiqua', sans-serif;/*tipo de letra*/
}

body{
    background-color: rgb(233, 186, 186);/*fondo de la pagina*/
}


.promocion{/*del fondo de las fresas*/
    background-image: linear-gradient(
        rgb(0,0,0,0.7),
        rgb(0,0,0,0.7)),
        url(../imagenes/BG_2.jpg);
    background-position: center;
    margin-top: 25px;
    margin-left: 55px;
    margin-right: 70px;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.oferta{ 

    width: 1370px;
    height: 460px;
    padding: 150px;
}

.oferta h2{
    font-size: 64px;
    line-height: 70px;
    color: #FFFF;
    margin-left: 190px;
    font-family: 'inknut-antiqua';
}

.oferta p{
    font-size: 32px;
    line-height: 95px;
    color: #FFFF;
    margin-left: 350px;
    font-family: 'inknut-antiqua';
}

header{
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    height: 150px;
    background-color:#EB455F ;
}

.logo{
    height: 130px;
    width: 130px;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.item{
    padding: 10px 24px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 600;
}


.item:hover{
    color: #fff;
}

#menu{
    display: none;
}

.menu_ion{
    width: 35px;
    height: 35px;
    color: #000;
    position: relative;
    left: 6px;
    cursor: pointer;
    margin: 0 10px;
}

.menu_ion:hover{
    color: #FFFFFF;
}

.des{
    width: 35px;
    height: 35px;
    color: #000;
    position: relative;
    left: 6px;
    cursor: pointer;
    margin: 0 10px;
}

.des:hover{
    color: #000;
}

label{
    cursor: pointer;
    display: none;
}

/* Estilo del contenedor dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Ocultar el menú desplegable por defecto */
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 150px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    right: 0%;
}

/* Estilo para mostrar el menú cuando tiene la clase 'show' */
.dropdown-menu.show {
    display: block;
}

/* Estilo de los elementos del menú desplegable */
.dropdown-menu li {
    list-style: none;
    padding: 10px;
    text-align: left;
    display: flex;
    align-items: center;
}

.dropdown-menu li a {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
    gap: 10px; /* Espaciado entre icono y texto */
}

/* Cambiar color al pasar el cursor */
.dropdown-menu li:hover {
    background-color: #f2f2f2;
    border-radius: 5px;
}
/* Estilo del overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Contenido del overlay */
.overlay-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 90%;
    max-width: 400px;
}

.til{

    font-weight: 800;
}

.overlay-content ul li{
    font-weight: 700;
}

.close{
    justify-content: center;
    align-items: center;
    display: flex;
}

.close img{
    width: 140px;
    height: 140px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Botones del overlay */
.overlay-buttons {
    margin-top: 20px;
}

.overlay-buttons .btn {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.overlay-buttons .btn:first-child {
    background-color: #c9a793; /* Botón de confirmar (rojo) */
    color: black;
    font-weight: 600;
}

.overlay-buttons .btn:first-child:hover{
    background-color: #ff70a6;
    color: #FFFFFF;
}

.overlay-buttons .btn:last-child {
    background-color: #ddd; /* Botón de cancelar (gris) */
    color: black;
    font-weight: 600;
}

.overlay-buttons .btn:last-child:hover{
    background-color: #d57e87;
    color: #FFFFFF;
}

.ini{
    display: none;
}

.produ{
    padding: 10px 9px;
    background-color: #CDB4DB;
    position: relative;
    margin: 30px;
    border-radius: 20px;
    right: 10px;
}

.fresas_crem{
    text-align: center;
}
.fresas_crem h3{
    font-size: 35px;
    font-family: Inria-Serif;
    color: #000;
    font-weight: 700;
    margin-bottom: 5px;
}
.fresas_crem p{
    font-size: 25px;
    font-family: Inria-Serif;
    color: #000;
    margin-top: 15px;
}

.batido{
    text-align: center;
}
.batido h3{
    font-size: 35px;
    font-family: Inria-Serif;
    color: #000;
    font-weight: 700;
    margin-bottom: 5px;
}
.batido p{
    font-size: 25px;
    font-family: Inria-Serif;
    color: #000;
    margin-top: 15px;
}

.pinchos{
    text-align: center;
}
.pinchos h3{
    font-size: 35px;
    font-family: Inria-Serif;
    color: #000;
    font-weight: 700;
    margin-bottom: 5px;
}
.pinchos p{
    font-size: 25px;
    font-family: Inria-Serif;
    color: #000;
    margin-top: 15px;
}

.image-container {
    position: relative;
    display: inline-block;
    overflow: hidden;
    border-radius: 0.375rem; 
}

.image-container img {
    display: block;
    transition: transform 0.3s ease-in-out;
}

.group:hover .image-container img {
    transform: scale(1.1);
}

.btn-4 {
    background: #A2D2FF;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    position: relative;
    margin: 10px;
    border-radius: 4px;
    padding: 20px 60px;
    transition: transform 0.3s ease;
    left: 450px;
    font-family: Inter;
    font-weight: 700;
    text-align: center;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.btn-4:hover {
    background-color: #BDE0FE;
    animation: bounce 0.5s;
}

.bajo{
 background-color: #ffe4e1;
  background-image: repeating-linear-gradient(70deg, #ffe4e1, #ffe4e1 65px, #fff 50px, #fff 100px);
  padding: 20px;
  text-align: center;
  color: #000;
}

.centro h2{
    font-family: Inter;
    text-decoration-color: #454545;
    font-size: 26px;
    font-weight: bold;
    margin-top: 20px;
    justify-content: center;
}

.redes {
    display: flex;
    justify-content: center;
    gap: 65px;
    margin-top: 20px;
  }

.copyri{
    display: flex;
    justify-content: center;
    align-items: center;
}

.copy{
    width: 12px;
    height: 12px;
}

.circle{
    width: 7px;
    height: 7px;
    inline-size: none;
    margin-left: 15px;
    align-items: center;
}

.ter{
    font-size: 12px;
    font-family: Inter;
    margin-left: 15px;
    text-align: center;
    font-weight: 600;
}

.pol{
    font-size: 12px;
    font-family: Inter;
    margin-left: 14px;
    text-align: center;
    font-weight: 600;
}