*{
    list-style: none;
    box-sizing: border-box;
}

body{
    height: 145vh;
    position: relative;
    font-family: Inter;
}

header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    height: 100px;
    background-color:#EB455F ;
}

.logo{
    height: 100px;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.item{
    padding: 10px 24px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 600;
}


.item:hover{
    color: #fff;
}

#menu{
    display: none;
}

ion-icon{
    width: 35px;
    height: 35px;
    color: #000;
    position: relative;
    left: 6px;
    cursor: pointer;
    margin: 0 15px;
}

ion-icon:hover{
    color: #FFFFFF;
}

label{
    cursor: pointer;
    display: none;
}


.ini{
    display: none;
    padding: 10px 24px;
    border-radius: 30px;
    background-color: #454545;
    cursor: pointer;
    font-weight: 600;
}

.ini:hover{

    background-color: #5c5b5b;
}

main{
    margin-top: 100px;
    margin-bottom: 40px;
}

.bajo{
 background-color: #ffe4e1;
  background-image: repeating-linear-gradient(70deg, #ffe4e1, #ffe4e1 65px, #fff 50px, #fff 100px);
  padding: 20px;
  text-align: center;
  color: #000;
}


.centro h2{
    font-family: Inter;
    text-decoration-color: #454545;
    font-size: 26px;
    font-weight: bold;
    margin-top: 20px;
    justify-content: center;
}

.redes {
    display: flex;
    justify-content: center;
    gap: 65px;
    margin-top: 20px;
  }

.copyri{
    display: flex;
    justify-content: center;
    align-items: center;
}

.copy{
    width: 12px;
    height: 12px;
}

.circle{
    width: 7px;
    height: 7px;
    inline-size: none;
    margin-left: 15px;
    align-items: center;
}

.ter{
    font-size: 12px;
    font-family: Inter;
    margin-left: 15px;
    text-align: center;
    font-weight: 600;
}

.pol{
    font-size: 12px;
    font-family: Inter;
    margin-left: 14px;
    text-align: center;
    font-weight: 600;
}

@media(max-width:991px){
    .menu{
        padding: 30px;
        margin: 0;
    }

    label{
        display: initial;
    }

    .menu{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #454545;
        display: none;
    }

    .item{
        margin: 0 0 20px 0;
        width: 100%;
        
    }

    .item:hover{
        background-color: #5c5b5b;
    }

    .circle{
        display: none;
    }

    .perfil{
        display: none;
    }

    .ini{
        display: block;
    }

    #menu:checked ~ .menu{
        display: initial;
    }


    
}

