body{
    background-image: linear-gradient(
        rgb(0,0,0,0.7),
        rgb(0,0,0,0.7)),
        url(../imagenes/BG_2.jpg);
    background-attachment: fixed;
    background-position: center;
    font-family: Inter;
    min-height: 100vh;
}

.btn-1{
    background: #454545;
    color: #FFFF;
    border-radius: 10px;
    transition: transform 0.3 ease;
}
.btn-1:hover{
    background-color: #5c5b5b;
}

.btn-2{
    background: #454545;
    color: #FFFF;
    border-radius: 10px;
    transition: transform 0.3 ease;
}
.btn-2:hover{
    background-color: #5c5b5b;
}

.btn-3{
    background: #454545;
    color: #FFFF;
    border-radius: 10px;
    transition: transform 0.3 ease;
}
.btn-3:hover{
    background-color: #5c5b5b;
}

.btn{
    text-decoration: none;
    padding: 9px 40px;
    font-size: 15px;
    position: relative;
    margin: 10px;
}

form{
    padding: 20px 55px;
    border-radius: 20px;
    text-align: center;
    width: 500px;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #e8d1c5 ;
    margin: 20px auto;
    position: static;
}

.input-group{
    display: flex;
    flex-direction: column;
    text-align: left;
}

form h2{
    color: #283629;
    font-size: 35px;
}

form label{
    color: #283629;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

form input, form textarea {
    padding: 17px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: #EDFFF0;
    border: 2px solid #F0FAF1;
    color: #283629;
    outline: none;
}

form input::placeholder, form textarea::placeholder{
    color: #B5CAB6;
}

.btn-5[disabled] {
    background-color: grey;
    cursor: not-allowed;
}

.btn-5{
    font-size: 16px;
    color: #FFFFFF;
    border: 0;
    border-radius: 25px;
    background-color: #ffc09f;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}
.btn-5:hover{
    background-color: #fff1e6;
    color: #000;
    font-weight: 600;
}

.btn-5:hover[disabled]{
    background-color: grey;
    cursor: not-allowed;
    color: #FFFFFF;
}

.bajo{
    background-color: #ffe4e1;
     background-image: repeating-linear-gradient(70deg, #ffe4e1, #ffe4e1 65px, #fff 50px, #fff 100px);
     padding: 20px;
     text-align: center;
     color: #000;
   }

   .centro h2{
       font-family: Inter;
       text-decoration-color: #454545;
       font-size: 26px;
       font-weight: bold;
       margin-top: 20px;
       justify-content: center;
   }

   .redes {
       display: flex;
       justify-content: center;
       gap: 65px;
       margin-top: 20px;
     }
   
   .copyri{
       display: flex;
       justify-content: center;
       align-items: center;
   }
   
   .copy{
       width: 12px;
       height: 12px;
   }
   