@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*diseño del escritorio*/
*{
    margin: 0;/**/
    padding: 0;/**/
    box-sizing: border-box;/**/
    text-decoration: none;/*elimina las lineas de enlace */
    list-style: none;/*quita las bolitas de la lista*/
}

body{
    font-family: 'inknut-antiqua', sans-serif;/*tipo de letra*/
}

body{
    background-color: rgb(233, 186, 186);/*fondo de la pagina*/
}


.promocion{/*del fondo de las fresas*/
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)),
        url(imagenes/BG_2.jpg);
    background-position: center;
    margin-top: 25px;
    margin-left: 55px;
    margin-right: 70px;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
}

.oferta h2{
    font-size: 64px;
    line-height: 70px;
    color: #FFFF;
    margin-left: 300px;
    font-family: 'inknut-antiqua';

}
.oferta p{
    font-size: 32px;
    line-height: 100px;
    color: #FFFF;
    margin-left: 450px;
    font-family: 'inknut-antiqua';
}

